<p id="notice"><%= notice %></p>

<h1 style="color: <%= @category.color %>;"><%= @category.name %></h1>
<h2>Artículos:</h2>

<% @category.articles.each do |articles|  %>
	<h3><%= link_to articles.title, articles%></h3>
		<div>
			<%=articles.body %> - <%= link_to "Eliminar", articles, method: :delete, class:"red" %>
		</div>
<%end%>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
